body {
  background: #333;
  font-family: Open Sans, sans-serif; }

.grid {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch; }

.note {
  color: rgba(0, 0, 0, 0);
  margin: 1px;
  display: inline-block;
  flex: 1 1 90px;
  height: 90px;
  min-width: 90px;
  line-height: 90px;
  text-align: center;
  background: #666;
  transition: background-color 0.5s ease-out; }
  .note.on {
    background: orange; }
